body {
    font-family: monospace;
    line-height: 1.5;
    margin: 20px;
    padding: 0;
    background-color: #fff8e1;
    }
header{
    background-color: #ffcc80;
    color: #4e342e;
    text-align: center;
    padding: 10px 0;
    font-size: larger;
    }
footer {
    background-color: #ffcc80;
    color: #4e342e;
    text-align: center;
    padding: 10px 0;
    }
h2 {
    color: #4e342e;
    }
p {
    margin-bottom: 10px;
    margin-top: 10px;
    }
.img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    float: right;
}
.video {
    width:560px; 
    height:315px;
    border: none;
}
